@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url("./fonts/Nunito-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url("./fonts/Inter_18pt-Regular.ttf") format('truetype');
}

body{
    background: #f6c865;
    font-family: "Nunito", "Inter",
    sans-serif;
}

svg{
    display: flex;
    align-items: center;
}